*.class
*.iml
*.log

/bin/ARE/LICENSE/*.*
/bin/ARE/*.jar
/bin/ARE/areProperties
/bin/ARE/tmp/
/bin/ARE/log/
/bin/ARE/profile/org.eclipse.osgi/
/bin/ARE/profile/loader_componentlist.ini
/bin/ARE/web/webapps/startpage/clientExample/
/bin/ARE/web/componentCollections/

/bin/APE/defProjectDir
/bin/APE/lib
/bin/APE/*.bat
/bin/APE/*.sh
/bin/APE/*.jar
/bin/APE/LICENSE/APE*.txt

/ARE/services/asterics.*.jar
/ARE/services/javacv*.jar
/ARE/components/asterics.*.jar
/ARE/middleware/asterics.*.jar
/ARE/tools/APE/APE.jar

.idea/
