[submodule "bin/ARE/web/webapps/WebACS"]
	path = bin/ARE/web/webapps/WebACS
	url = https://github.com/asterics/WebACS.git
	ignore = dirty
[submodule "bin/ARE/web/help"]
	path = bin/ARE/web/help
	url = https://github.com/asterics/AsTeRICS-help.git
	ignore = dirty