Package: asterics-are
Version: #{APPLICATION_VERSION_NUMBER}#
Section: utils
Maintainer: AsTeRICS Foundation
Priority: optional
Architecture: all
License: MIT or GPL-3 with Classpath exception
Homepage: https://www.asterics.eu
Provides: asterics-are
Description: AsTeRICS Runtime Environment (ARE) - http://www.asterics.eu
Recommends: oracle-java8-installer, libttspico-utils
Depends: libhidapi-libusb0, libudev1, xdg-utils

