Package: asterics-are
Version: #{APPLICATION_VERSION_NUMBER}#
Section: unknown
Maintainer: Asterics Foundation
Priority: optional
Architecture: all
Homepage: https://github.com/asterics/AsTeRICS
Provides: asterics-are
Description: AsTeRICS Runtime Environment (ARE) - http://www.asterics.org
Recommends: oracle-java8-installer
Depends: libttspico-utils, libhidapi-libusb0, libudev1
